.normal-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.strikethrough-text {
    text-decoration: line-through;
}

.center-text {
    text-transform: uppercase;
    text-align: center;
}

.crooked-line {
    text-decoration: overline wavy red;
    word-spacing: 30px;
}

.emphasizing {
    text-decoration: underline double;
    letter-spacing: 5px;
}