.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav {}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav_item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accant-color);
    border-radius: 50%;
    z-index: -1;

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    width: 30px;
    height: 3px;
    border-radius: 100px;
    display: block;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header__hero {
    padding: 50px 0 140px;
}


/* ===========   hero ============== */





.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: rgb(177, 151, 179);
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: rgb(177, 151, 179);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    display: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 200px;
    left: calc(100% - 39px);
    bottom: 11%;
    text-align: left;
}

.hero__ing-control--mobile {
    display: none;
}

.hero__img-button {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    /* фоновый */
    background: rgb(255, 224, 203);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accant-color);
    border-radius: 50%;
    inset: 5px;

    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::before {
    opacity: 1;
}

.hero__img-button img {
    padding-left: 8.8%;
}